html, body {
    margin: 0;
    padding: 0;
}

body {
    font-family: Arial;
    background-color: aliceblue;
    line-height: 1.3;
}

nav{
    width: 95%;
    display: flex;
    margin-left: 2%;
    margin-right: 1%;
    border-radius: 7px;
    background-color: #1C5B7E;
    justify-content: space-around;
    color: white;
}

ul {
    width: 40%;
    display: flex;
    list-style: none;
    justify-content: space-evenly;
    margin-top: 5%;
}

.logo{
    width: 40%;
    margin: 1%;
}

.container-dua{
    display: flex;
    margin-left: 2%;
    margin-right: 1%;
    border-radius: 5px;
    background-color: #1C5B7E;
}

.judul{
    padding: 1%;
    color: white;
}

.container-satu{
    width: 97%;
    margin: 0.5%;
    padding: 0.5%;
    display: flex;
    box-sizing: border-box;
}

.sidebar{
    padding: 1%;
    flex: 1;
}

.isi{
    font-size: 1.1rem;
    height: 600px;
    color: white;
    border-radius: 1%;
    padding: 1%;
    background-color: #1C5B7E;
    flex: 5;
    display: flex;
    flex-direction: column;
    justify-content: space-between ;
}

.deskripsi{
    flex: 5;
}

.pendidikan{
    flex: 2;
}

.container-tiga {
    font-size: 1rem;
    width: 92%;
    background-color: #1C5B7E;
    margin-left: 2%;
    margin-right: 1%;
    padding: 1.5%;
    border-radius: 8px;
    display: flex;
    color: white;
    justify-content: space-between;
}
.twitter{
    width: 20%;
}
.instagram{
    width: 20%;
}
.email{
    width: 20%;
}
a{
    text-decoration: none;
    color: white;
}
nav ul li a:hover {
    color: aquamarine;
}
.container-utama{
    width: 96%;
    margin: 0.5%;
    padding: 0.5%;
    display: flex;
}
.isi2 {
    height: 600px;
    margin-left: 1%;
    color: white;
    border-radius: 1%;
    padding: 1%;
    background-color: #1C5B7E;
    flex: 5;
    display: flex;
    align-items: center;
}
.quotes{
    height: 40%;
}
.sidebar{
    display: flex;
    flex-direction: column;
}
.biodata{
    margin-top: 2%;
    line-height: 40px;
}

@media (max-width: 768px){
    nav{
        width: 96%;
        margin-left: 1%;
    }
    .container-satu{
        width: 97%;
        margin: 0.5%;
        padding: 0.5%;
        display: flex;
        flex-direction: column;
    }
    .sidebar{
        display: flex;
        flex-direction: row;
    }
    .foto{
        margin-top: 20px;
    }
    .biodata{
        margin-left: 10%;
    }
    .container-tiga{
        font-size: 0.9rem;
        width: 93%;
        background-color: #1C5B7E;
        margin-left: 1.3%;
        margin-right: 1%;
        padding: 1.5%;
        border-radius: 8px;
        display: flex;
        flex-direction: column;
        color: white;
    }
    .isi{
        font-size: 0.9rem;
        height: 600px;
        color: white;
        border-radius: 1%;
        padding: 1%;
        background-color: #1C5B7E;
        flex: 5;
        display: flex;
        flex-direction: column;
        justify-content: space-between ;
    }
    .isi2{
        font-size: 0.9 rem;
        margin-left: 0.6%;
    }
}
@media (max-width: 576px) {
    nav{
        width: 96%;
        margin-left: 1%;
    }
    ul{
        width: 50%;
        margin-top: 12%;
        height: 30%;
        font-size: 0.8rem;
    }
    .container-satu{
        width: 97%;
        margin: 0.5%;
        padding: 0.5%;
        display: flex;
        flex-direction: column;
    }
    .sidebar{
        font-size: 0.8rem;
        display: flex;
        flex-direction: row;
    }
    .foto{
        margin-top: 20px;
    }
    .biodata{
        margin-left: 10%;
        font-size: 0.8rem;
    }
    .container-tiga{
        font-size: 0.8rem;
        width: 93%;
        background-color: #1C5B7E;
        margin-left: 1%;
        margin-right: 1%;
        padding: 1.5%;
        border-radius: 8px;
        display: flex;
        flex-direction: column;
        color: white;
    }
    .isi{
        font-size: 0.8rem;
        height: 600px;
        color: white;
        border-radius: 1%;
        padding: 1%;
        background-color: #1C5B7E;
        flex: 5;
        display: flex;
        flex-direction: column;
        justify-content: space-between ;
    }
    .isi2{
        font-size: 0.8rem;
    }
}



